@import url("https://kit-pro.fontawesome.com/releases/v7.2.0/css/pro.min.css");

/* FICHE DE LIEN */
.pab_topic_postmessage,
.rssum_listerps {
    padding: 0;
}

.pab_topic_postbody {
    width: 100%;
    max-width: unset;
}

.faye {
    --blue1:#826C91;
    --blue2:#5E5988;
    --accent:#D2C4D5;
    
    --rssum_coul1: var(--accent);
    --rssum_coul2: var(--blue1);
    --pab_fond_acct:var(--blue2);
    --pab_fond_fonc: var(--blue2);
    --pab_fond1:#07080E;
    --pab_fond2:#1E1E29;
    
    color:#DADBDE;
    text-align: justify;
    text-wrap: pretty;
}

.rssum_det_inter {
    flex-direction: column;
    gap:2px;
}

.rssum_icons {
    flex-direction: row;
    margin: 0;
    overflow: hidden;
}

.rssum_details {
    grid-area: span 1 / span 3;
}

.banban {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
    position: absolute;
    inset: 0;
    background-image:url(https://i.pinimg.com/736x/bb/36/26/bb3626b18d0e896bc107ffe67b481bc8.jpg);
    background-size:cover;
    background-position:center;
    transition: 300ms all
}

.faye:hover .banban {
    background-image:url(https://i.pinimg.com/vwebp/1200x/c6/eb/38/c6eb38fdcdf8cdefb06ae3c60be12455.webp);
}

.rssum_rps {
    grid-area: span 1 / span 4;
}

.rssum_listearchives ul, .rssum_listerps ul {
    max-height: 350px;
}

.rssum_listearchives li, .rssum_listerps li {
    padding: 0 0 8px;
    text-indent: 0px;
}

.rssum_chronoliste{
    max-height: unset;
    position:relative;
}

.rssum_chronoliste::before {
    content: '';
    width: 1px;
    background: var(--pab_fond_acct);
    position: absolute;
    left: 25px;
    top: 20px;
    bottom: 20px;
}

.rssum_chronoliste ul::before {
    display:none;
}

.pab_topic_postbody .rssummer ul li {
    margin: 8px 20px 0 0
}

.rssum_chronoliste li strong {
    font-family: var(--rssum_font);
    font-weight: var(--rssum_font_wgt);
    background: linear-gradient(to right, var(--rssum_coul1), var(--rssum_coul2));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.1rem;
}

.rssum_chronoliste li u {
    color:var(--accent)!important;
    background:transparent;
    -webkit-text-fill-color: unset;
}

.rssummer h2{
    color:var(--pab_fond1);
    text-shadow: 2px 2px 0 var(--blue1)
}

.rssum_chronoliste li strong i,
.rssum_listearchives li strong i {
    margin: 0 10px;
}

.rssum_listearchives li u {
    color: var(--accent) !important;
    background: transparent;
    -webkit-text-fill-color: unset;
    border: 0;
    font-family: var(--rssum_font);
    font-weight: var(--rssum_font_wgt);
    font-size: 1.1rem;
}

.rssum_listearchives a {
    font-family: var(--rssum_font);
    font-weight: var(--rssum_font_wgt);
    background: linear-gradient(to right, var(--rssum_coul1), var(--rssum_coul2));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.1rem;
}

.faye:has(.nav-tabs),
.fred:has(.nav-tabs){
    margin: 14px 0 0;
    display: flex;
    flex-direction: column;
    gap:14px;
}

.faye:has(.nav-tabs) h3,
.fred:has(.nav-tabs) h3 {
    all: unset;
    color: var(--pab_fond1);
    text-shadow: 2px 2px 0 var(--blue1);
    text-transform: uppercase;
    font-size:25px;
    font-weight: bolder;
}

.faye .nav-tabs,
.fred .nav-tabs {
    grid-column: span 4;
    display: flex;
    gap:14px;
    align-items: center;
    justify-content: center;
}

.faye .nav-tabs label,
.fred .nav-tabs label {
    flex:1;
    padding: 12px;
    background: linear-gradient(to right, var(--rssum_coul1), var(--rssum_coul2));
    border-radius: 12px;
    text-align: center;
    text-wrap: nowrap;
}

.faye input,
.fred input {
    display: none!important;
}

.ongletr, .fonglet {
    display: none;
    overflow-y: scroll;
    background: var(--pab_fond2);
    border-radius: 12px;
    padding: 12px;
    border:12px solid var(--pab_fond1);
    gap:14px;
}

.faye input:checked+.fonglet {
    display: flex;
    flex-direction: column;
    grid-column: span 4 / span 1;
    max-height:845px;
}

.fred .fonglet {
    display: flex;
    flex-direction: column;
    grid-column: span 4 / span 1;
    max-height:845px;
    margin: 14px 0 0;
}

.faye .fonglet > div,
.fred .fonglet > div {
    border: 1px solid var(--pab_fond_acct);
    border-radius: 6px;
    padding: 4px;
    background: linear-gradient(to right, var(--rssum_coul1), var(--rssum_coul2));
}

.rssum_lien_inter > h4, .rssum_lien_tags > span > strong {
    background: linear-gradient(to right, var(--blue1), var(--blue2));
    background-clip: text!important;
    -webkit-background-clip: text!important;
    -webkit-text-fill-color: transparent!important;
}

.rssum_lien_barre > div {
    background: linear-gradient(to right, var(--blue1), var(--blue2));
    border:1px solid var(--accent)
}

.faye .fonglet > div img,
.fred .fonglet > div img {
    height:100%;
    aspect-ratio:1;
    image-rendering: pixelated;
    border-radius: 6px;
}


.rssum_lien_desc > div {
    padding: 0 10px 0 0;
}

.rssum_lien_inter > h4 {
    filter:drop-shadow(2px 2px 0 var(--pab_fond1));
    text-transform: uppercase;
    font-size: 25px;
    font-weight: bolder;
}

.rssum_lien_tags > span::before {
    background:var(--accent)
}

.rssum_lien_desc {
    grid-row:span 2;
}

.rssum_lien_barre {
    background:var(--accent);
}

.pab_topic_postbody h5 {
    background-image: none;
    background-color:var(--accent)
}

.faye .fonglet > div,
.fred .fonglet > div {
    background: var(--pab_grp1);
    border:var(--pab_grp1);
    .rssum_lien_inter > h4, .rssum_lien_tags > span > strong {background: linear-gradient(to right, var(--pab_grp1), var(--pab_grp2));}
    .rssum_lien_barre > div {background: linear-gradient(to right, var(--pab_grp1), var(--pab_grp2));}
}

.faye .fonglet > .idk,
.fred .fonglet > .idk {
    --pab_grp1:var(--blue1);
    --pab_grp2:var(--blue2);
}












/* FICHE DE LIEN FRED*/
.fred {
    --blue1:#dd5b8c;
    --blue2:#b52b60;
    --accent:#aac6e0;
    
    --rssum_coul1: var(--accent);
    --rssum_coul2: var(--blue1);
    --pab_fond_acct:var(--blue2);
    --pab_fond_fonc: var(--blue2);
    --pab_fond1:#e8ded8;
    --pab_fond2:#f4f4f5;
    
    color:#2a2a2a;
    text-align: justify;
    text-wrap: pretty;
}

.fred .banban {
    background-image:url(https://i.imgur.com/jyB2ALw.png);
    background-position: 43%;
}

.rssummer_carnet h2 {
    font-size:2.2rem
}

.fred xl {
    display: grid;
    grid-template-columns: repeat(3,auto);
    flex-wrap: wrap;
    flex:1;
    
}

.fred li:has(xl) {
    display: flex;
    gap:5px;
}

.fred .rssum_infos ul {
    overflow: unset;
    position: relative;
}

.fred.rssummer ul li {
    margin-right:0!important
}
